@import "styles/mixins.scss";

@mixin border {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

@mixin br {
  border-radius: 0 0 50% 50%;
  @media (max-width: 530px){
    border-radius: 0 0 10% 10%;
  }
}

.d2, .d3{
  @include br;
}

.body {
  .d1 {
    position: relative;
    *{@include selectnone}
    .d2 {
      width: 100vw;
      @include zero;
      @include br;
      //background: #43C6AC;  /* fallback for old browsers */
      //background: -webkit-linear-gradient(to right, #191654, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
      //background: linear-gradient(to right, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      @include img('../public/bg7.jpg');
      height: 280px;
      .d3 {
        box-sizing: content-box;
        height: 300px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
        background: linear-gradient(to left, #146fb436, #146fb46e);
        backdrop-filter: blur(8px);
        @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
          background: 0;
        }
        border: 1px solid $c1;
        @include shadow;
        @include zero;
        z-index: 0;
        .d4,
        .d5 {
          margin: 1rem 2rem !important;
        }
        .d5 {
          h1 {
            font-weight: 700;
            position: relative;
            @include gt(#cfdbcf, #ffffff);
          }
        }
      }
    }
  }
  .d7 {
    padding: 2rem;
    padding-top: 4rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    .d8 {
      justify-self: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
      .e{
        font-weight: bolder;
        color: $c1
      }
      .d32{
        padding: 5px;
        background-color: $c1;
        border-radius: 10px;
         h1{
           letter-spacing: 2px;
           font-size: 1rem;
           color: white;
         }
      }
      .d17,
      .d18 {
        padding: 0 20px;
        border-radius: 20px;
        @include selectnone;
        h2 {
          color: white;
        }
      }
      .d17 {
        background: $c1;
        @include button;
      }
      .d18 {
        background-color: rgba(128, 128, 128, 0.473);
        pointer-events: none;
      }
      .d9 {
        display: flex;
        width: 100%;
        align-items: center;
        padding: 0.5rem;
        padding-bottom: 0.25rem;
        border-radius: 1rem;
        margin: 20px 0;
        justify-content: space-around;
        @include glass;
        @include shadow;
        flex-wrap: wrap;
        border: 1px solid $c2;
        *{
          font-family: "gentium-regular" !important;
          font-weight: bolder;
        }
        .react-select__option {
          font-family: "gentium-regular" !important;
          font-weight: bolder;
        }
        @media (max-width: 700px) {
          display: block;
        }
        h3 {
          margin-right: 10px;
          color: $c1;
          font-weight: bolder;
        }
        z-index: 1 !important;
        .d14 {
          width: 7rem;
          background-color: white;
          border-radius: 1rem;
          @include center;
          padding: 0.5rem;
          font-size: 0.5rem;
        }
        .d10 {
          display: flex;
          align-items: center;
        }
        @media (min-width: 700px) {
          .d10:nth-child(1) {
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
  .d11 {
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .d15 {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 0 1.5rem 1rem;
      .d16 {
        cursor: pointer;
        position: relative;
        transform: translateY(-10px);
        height: 40px;
        width: 40px;
        @include center;
        margin-right: 10px;
        h1 {
          position: absolute;
          color: $c1;
        }
        @include selectnone;
      }
      .d19 {
        .d12 {
          width: 300px;
          border-radius: 15px;
          @include img('../public/bg13.jpg');
          position: relative;
          .d13 {
            h1,
            h2 {
              color: rgb(255, 227, 66);
              @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
                color: $c2
              }
            }
            h3 {
              color: whitesmoke;
              @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
                color: inherit;
              }
            }
            @include button;
            width: 100%;
            height: 100%;
            padding: 10px 15px;
            border-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(4px);
            @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
              background: 0;
            }
            transform: translate(8px, 8px);
          }
        }
        .d24 .d23,
        .d20 .d21,
        .d20 .d22 {
          width: 5rem;
          height: 1.5rem;
          @include center;
          border-radius: 0.75rem;
          margin-right: 0.25rem;
          background-color: #155799;
          h2,
          span {
            color: white;
            @include selectnone;
          }
        }
        .d24 {
          margin-top: 0.25rem;
          display: flex !important;
          .d23 {
            padding: 0 0.5rem;
            background-color: rgb(83, 83, 83);
            font-size: 0.5rem;
            width: auto;
          }
        }
        .d20 {
          margin-top: 1rem;
          font-size: 0.5rem;
          display: flex;
          align-items: center;
          .d22 {
            width: 4rem;
          }
        }
      }
    }
  }
  .d26 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2rem 0;
    .d27 {
      margin: 2rem;
      border-radius: 1rem;
      overflow: hidden;
      @include shadow;
      position: relative;
      .d29 {
        height: 400px;
        &:after {
          content: "";
          @include zero;
          position: absolute;
          background-image: linear-gradient(to top, #15995760 0%, #15579956 100%);
          height: 400px;
          width: 300px;
        }
      }
      .d28 {
        width: 300px;
        padding: 1rem;
        background: linear-gradient(to left, #cfdbcf, #ffffff);
      }
    }
  }
  footer {
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    border-top: 2px solid #002f53;
    @include shadow;
    background: linear-gradient(to left, #cfdbcf, #ffffff);
    .d25 {
      border-top-right-radius: 2rem;
      border-top-left-radius: 2rem;
      height: 100%;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      * {
        color: #002f53;
      }
      nav,
      p {
        margin: 2rem;
      }
      p {
        max-width: 20rem;
      }
      nav {
        min-width: 10rem;
        h1 {
          margin-bottom: 1rem;
        }
        &:nth-child(1) {
          div {
            height: 2rem;
            border-radius: 1rem;
            @include button;
            background-color: white;
            @include center;
            padding: 0 1rem;
            margin-bottom: 0.5rem;
            border: 1px solid $c1;
            h2 {
              font-size: 1rem;
            }
          }
        }
        &:nth-child(2) {
          div {
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  }
  .d30{
    width:100%;
    @include center;
    .d31{
     @include button;
     background: linear-gradient(to left, $c1, $c2);
     h2 {color: whitesmoke;}
     width: 10rem;
     height: 3rem;
     border-radius: 1.5rem;
     @include center;
    }
  }
}

.e2{
  text-align: center;
  font-weight: bolder;
  color: $c1;
  margin-bottom: 40px;
}