@import './mixins.scss';
//
#d1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
    min-height: 100vh;
    #d2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1000px;
        #d3{
            font-size: 2.5rem;
            color: $c1;
            margin-bottom: 15px;
        }
    }
}

#home {
       display: flex;
        align-items: center;
        
        a {
            margin-left: 5px;
            cursor: pointer !important;
        }
        .d8 {
            @include button;
            background: none !important;
        }
}

.d4_ {
    @include selectnone;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-radius: 5px;
    background-color: $c1;
    .d6_ {
        display: flex;
        align-items: center;
        @media(max-width: 430px) {
            * {
                font-size: 1rem;
            }
        }
        #translation  {
            color: whitesmoke;
            @media(max-width: 600px) {
                display: none;
            }
        }
        #translation, #p{
            margin-left: 10px;
        }
        #p,
        h3 {
            color: gold;
        }
        h3 {
            transform: translateY(-0.5px);
            font-size: 1.5rem;
        }
        .d7 {
            margin-left: 0.25rem;
        }
        span {
            margin-left: 0.5rem;
        }
    }
}

#d4{
    padding: 25px;
    @include img('../public/bg7.png');
    width: 100vw;
    #d5{
        display: flex;
        justify-content: space-around;
        @media(max-width: 500px){
            flex-direction: column;
        }
        align-items: center;
        #english, #arabic{
          background: -webkit-linear-gradient(#cfdbcf,#fff);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: 2rem;
          font-weight: 700;
        }
        #english{
            font-family: "cinzel-bold"
        }
        #transliteration {
            background: -webkit-linear-gradient(goldenrod,gold);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; 
            font-size: 3rem;
            font-weight: 700
        }
    }
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    @include shadow;
}

#d6, #d7{
    background-color: whitesmoke;
    padding: 0 10px;
    border-radius: 5px;
    @include center;
    margin: 20px 0;
}

#d6{
    h1{
        color:  rgb(180, 129, 0);
    }
}

#d7 {
    h1{
        color: $c1
    }
}

#d8{
    display: flex;
    justify-content: center;
    margin: 15px 0;
    margin-bottom: 10px;
}

#d9, #d10, #d14{
    padding: 0 5px;
    border-radius: 5px;
    margin: 5px;
    h4{
        color: white;
        transform: translateY(-1px);
    }
}

#d9, #d14 {
    background: linear-gradient(to right, $c1, $c2);
}

#d10{
    background: linear-gradient(to right, $c2, $c1);
}

#d14{
    background: linear-gradient(to right, $c1, $c2); 
}

#d11{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 5;
    @include glass;
    border-bottom-left-radius: 15px ;
    border-bottom-right-radius: 15px;
    border: 1px solid $c1;
    border-top: 0;
    padding: 0 10px;
    min-height: 50px;
}

#d30{
    margin-top: 30px;
    max-width: 1000px;
}

#d31{
    margin: 25px 0;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    flex-wrap: wrap;
    #d32, #d33{
        @include button;
        border-radius: 7px;
        padding: 5px 15px;
        display: flex;
        align-items: center;
        margin: 25px;
        h1{
        color: whitesmoke;
        font-family: "gentium-regular";
        font-weight: 700;
}
        }
        #d33{
            background: linear-gradient(to right, $c2, $c1);
        }
        #d32{
            background: $g5;
            h1{
                background: -webkit-linear-gradient($c1,$c2);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }